<h1>Hello <%= current_user.user_name %></h1>
<%= image_tag current_user.image_url(:thumb).to_s %>
<p>
	<div><br />
		
    <%= current_user.bio %>
  </div>
</p>
<p>
	<div>
		<%= link_to "My Photos", user_photos_path %>
		<%= link_to "My Planes", planes_path %>
	</div>
</p>
